<div class='about-main'>

	<!-- ==================
	     ABOUT ME
	     ================== -->
	<div class='about-me row'>
		<div>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<p>As a result of several years of intense interest in the field of web development and a strong desire to build and create, I recently attended and graduated from the fully immersive web development program at DevBootcamp in Chicago. Working and studying approximately 60 hours per week, I had the opportunity to build numerous programs utilizing Ruby, Rails, HTML, CSS, JavaScript, JQuery, Sinatra, Xcode, Swift, SQL, and many other development tools.</p>
				<p>In addition to my current studies at DevBootcamp, I have recently earned a Master's of Science in International and Comparative Education as a result of my intense interest in culture, all things international and, of course, education. I am highly organized and pride myself on the ability to do just about anything and do it well.</p>
				<p>My past work with CCI Greenheart in the student exchange industry has provided me with invaluable people skills through day-to-day dealings with a multitude of international and domestic partners, employers and students alike. My formal education has afforded me valuable project management skills, an independent work ethic and an acute understanding of educational design and learning techniques.</p>
				<p>I have also been lucky enough to have had the chance to spend nearly half a year traveling throughout Western and Eastern Europe, a year and a half working and traveling in Australia and New Zealand, and two years studying and working in Sweden for graduate school. I am absolutely fascinated by different cultures and strongly believe that experiencing the differences those cultures have to offer is essential to a healthy perspective in todays world.</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- ==================
	     EXPERIENCE
	     ================== -->
	<div class='about-exp row'>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="about-titles">Experience</h1>
			
			<div class='row'>
				<div class="col-md-1"></div>
				<%= image_tag("about/nw_seal.png", class: 'exp-img col-md-2') %>
				<div class="col-md-8">
					<h2 class="exp-titles">Northwestern Coding Bootcamp / <br>Trilogy Education Services</h2>
					<h2 class="exp-locations">Chicago, IL</h2>
					<div></div>
					<div class="exp-positions">Teaching Assistant</div>
					<span class="exp-dates">Apr 2017 - Present</span>
					<div class="exp-content">
						A part-time, 6 month programing bootcamp where "students will learn a full-stack, including the skills needed to become proficient in front- and backend developers- HTML, CSS, JavaScript, jQuery, Boostrap, React.js, Node.js, Database Theory, Bookshelf.js, MongoDB, MySQL, Command Line, Git, Python, and more"
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class='row'>
				<div class="col-md-1"></div>
				<%= image_tag("about/dbc_logo.jpeg", class: 'exp-img col-md-2') %>
				<div class="col-md-8">
					<h2 class="exp-titles">Dev Bootcamp</h2>
					<h2 class="exp-locations">Chicago, IL</h2>
					<div></div>
					<div class="exp-positions">Student</div>
					<span class="exp-dates">Jun 2016 to Dec 2016</span>
					<div class="exp-content">
						<p>Successfully absorbed and applied numerous new technologies in an extremely limited period of time while retaining an appropriate level of sanity</p>
						<p>Participated in multiple group projects with a unique and useful perspective while also helping to maintain a positive and productive team dynamic</p>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class='row'>
				<div class="col-md-1"></div>
				<%= image_tag("about/cci_logo.png", class: 'exp-img col-md-2') %>
				<div class="col-md-8">
					<h2 class="exp-titles">CCI Greenheart</h2>
					<h2 class="exp-locations">Chicago, IL</h2>
					<div></div>
					<div class="exp-positions">Operations Manager</div>
					<span class="exp-dates">Feb 2016 to Jun 2016</span>
					<div></div>
					<div class="exp-positions">Program Coordinator</div>
					<span class="exp-dates">Dec 2014 to Feb 2016</span>
					<div></div>
					<div class="exp-positions">Programs Associate</div>
					<span class="exp-dates">Aug 2011 to Dec 2014</span>
					<div class="exp-content">
						<p>Oversaw and managed staff while exceeding all 2016 benchmarking goals</p>
						<p>Acted as point person for departmental transition to new online system</p>
						<p>Coordinated numerous aspects of the J1 Visa Exchange Visitor Program while facilitating growth within both the Work and Travel Program and Career Advancement Program</p>
						<p>Managed a caseload of 1,000+ international students through diligent supervision and guidance to ensure the successful and safe completion of their program in the U.S.</p>
						<p>Initiated and led the implementation of a reflective seasonal analysis in order to streamline and drive future growth</p>
						<p>Achieved a 100% fill rate of available positions through the successful selection, interviewing and hiring of viable participants</p>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- ==================
	     EDUCATION
	     ================== -->
	<div class='about-edu row'>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="about-titles">Education</h1>

			<div class='devBootcamp row'>
				<%= image_tag("about/dbc_logo.jpeg", class: 'exp-img col-md-1') %>
				<p>Dev Bootcamp Graduate</p>
				<p>Dev Bootcamp - Chicago, Illinois</p>
			</div>

			<div class='stockholmUniversity row'>
				<%= image_tag("about/su_seal.png", class: 'exp-img col-md-1') %>
				<p>Master of Science in International and Comparative Education</p>
				<p>Stockholm University - Stockholm, Sweden</p>
			</div>

			<div class='michiganStateUniversity row'>
				<%= image_tag("about/msu_seal.png", class: 'exp-img col-md-1') %>
				<p>Bachelor of Arts in Hospitality Business</p>
				<p>Michigan State University - East Lansing, Michigan</p>
			</div>

		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- ==================
	     SKILLS
	     ================== -->
	<div class='about-skills row'>
	 	<div class="col-md-1"></div>
	 		<div class="col-md-10">
				<h1 class="about-titles">Skills</h1>

	      <div class="skillbar" data-percent="50%">
	        <div class="skillbar-title-main">JavaScript</div>
	        <div class="skill-bar-percent-main">50%</div>
	        <div class="skillbar-bar-main" style="width: 50%;"></div>
	      </div>

	      <div class="skillbar" data-percent="40%">
	        <div class="skillbar-title">JQuery</div>
	        <div class="skill-bar-percent">40%</div>
	        <div class="skillbar-bar" style="width: 40%;"></div>
	      </div>

	      <div class="skillbar" data-percent="30%">
	        <div class="skillbar-title">React</div>
	        <div class="skill-bar-percent">30%</div>
	        <div class="skillbar-bar" style="width: 30%;"></div>
	      </div>

	      <div class="skillbar" data-percent="25%">
	        <div class="skillbar-title">Jasmine</div>
	        <div class="skill-bar-percent">25%</div>
	        <div class="skillbar-bar" style="width: 25%;"></div>
	      </div>

	      <div class="skillbar" data-percent="50%">
	        <div class="skillbar-title-main">Ruby</div>
	        <div class="skill-bar-percent-main">50%</div>
	        <div class="skillbar-bar-main" style="width: 50%;"></div>
	      </div>

	      <div class="skillbar" data-percent="30%">
	        <div class="skillbar-title">Rails</div>
	        <div class="skill-bar-percent">30%</div>
	        <div class="skillbar-bar" style="width: 30%;"></div>
	      </div>

	      <div class="skillbar" data-percent="70%">
	        <div class="skillbar-title">Sinatra</div>
	        <div class="skill-bar-percent">70%</div>
	        <div class="skillbar-bar" style="width: 70%;"></div>
	      </div>

	      <div class="skillbar" data-percent="45%">
	        <div class="skillbar-title">RSpec</div>
	        <div class="skill-bar-percent">45%</div>
	        <div class="skillbar-bar" style="width: 45%;"></div>
	      </div>

	      <div class="skillbar" data-percent="15%">
	        <div class="skillbar-title-main">Swift</div>
	        <div class="skill-bar-percent-main">15%</div>
	        <div class="skillbar-bar-main" style="width: 15%;"></div>
	      </div>

	      <div class="skillbar" data-percent="15%">
	        <div class="skillbar-title">Xcode</div>
	        <div class="skill-bar-percent">15%</div>
	        <div class="skillbar-bar" style="width: 15%;"></div>
	      </div>

	      <div class="skillbar" data-percent="80%">
	        <div class="skillbar-title-main">HTML</div>
	        <div class="skill-bar-percent-main">80%</div>
	        <div class="skillbar-bar-main" style="width: 80%;"></div>
	      </div>

	      <div class="skillbar" data-percent="50%">
	        <div class="skillbar-title-main">CSS</div>
	        <div class="skill-bar-percent-main">50%</div>
	        <div class="skillbar-bar-main" style="width: 50%;"></div>
	      </div>

	      <div>
	      	<div class="skillbar-title-main">Additional Skills:</div>
					<div class="add-skills">
						<div class="col-md-4">
								<div>MySQL</div>
								<div>PostreSQL</div>
								<div>Bootstrap</div>
						</div>
						<div class="col-md-4">
							<div>AJAX</div>
							<div>JSON</div>
							<div>XML</div>
						</div>
						<div class="col-md-4">
							<div>Agile</div>
							<div>Management</div>
							<div>Organization</div>
						</div>
					</div>
				</div>

	    </div>
		<div class="col-md-1"></div>
	</div>

	<!-- ==================
	     MORE DETAILS
	     ================== -->
	<div class='about-details'>
		
			<div>
				<%= link_to "https://www.linkedin.com/in/travisroy/", target: :_blank do %>
   				<%= image_tag("about/linkedin_icon.png", class: 'details-img') %>
				<% end %>
			</div>

			<div>
				<%= link_to "https://github.com/TrRo26/", target: :_blank do %>
   				<%= image_tag("about/github_icon.png", class: 'details-img') %>
				<% end %>
			</div>

			<div>
				<%= mail_to "travis.roy26@gmail.com" do %>
   				<%= image_tag("about/email_icon.png", class: 'details-img') %>
				<% end %>
			</div>

	</div>


</div>
