<!DOCTYPE html>
<html>
  <head>
    <title>Travis A. Roy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>  <!-- 'data-turbolinks-track': 'reload' -->
    <%= javascript_include_tag 'application' %>
    <!-- Used for responsive mobile design for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class='main'>

  	<header class="navbar-fixed-top header">
      <div class="wrapper overlay">
        <%= image_tag("about/lofoten_2.jpg", class: 'header-img') %>
        <div class="row">
      		<h1 class='name-text'>TRAVIS A. ROY</h1>
      		<h2 class='title-text'>[ WEB DEVELOPER ]</h2>
        </div>
        <nav class="nav-links">
          <div class="container">
            <div class="col-md-4 text-center"> <%= link_to 'about', root_path, class: 'nav-box' %> </div>
            <div class="col-md-4 text-center"> <%= link_to 'projects', projects_path, class: 'nav-box' %> </div>
            <div class="col-md-4 text-center"> <%= link_to 'posts', posts_path, class: 'nav-box' %> </div>
          </div>
        </nav>
      </div>  
  	</header>

    <div class="spacer"></div>

    <div class="container">
      <div class="inner-hook">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">© 2017 Travis Roy</div>
    </footer>
    
  </body>
</html>
