<!DOCTYPE html>
<html>
  <head>
    <title>Travis A. Roy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
  	<h1>Travis A. Roy</h1>
  	<h2>[ Web Developer ]</h2>
  	<h3>home | projects | blog</h3>
  	<%= link_to 'blog', mains/blog %>

    <%= yield %>
  </body>
</html>


