<!DOCTYPE html>
<html>
  <head>
    <title>Travis A. Roy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>  <!-- 'data-turbolinks-track': 'reload' -->
    <%= javascript_include_tag 'application' %>
    <!-- Used for responsive mobile design for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class='container main'>
  	
  	<header class="fixed-top row">
      <div>
    		<h1 id='name-text'>TRAVIS A. ROY</h1>
    		<h2 id='title-text'>[ WEB DEVELOPER ]</h2>
      </div>

      <nav>
        <ul>
          <li class="col-md-4 text-center nav-tab"> <%= link_to 'about', root_path %> </li>
          <li class="col-md-4 text-center nav-tab"> <%= link_to 'projects', projects_path %> </li>
          <li class="col-md-4 text-center nav-tab"> <%= link_to 'posts', posts_path %> </li>
        </ul>
      </nav>

  	</header>

    <div class="hook">
      <div class="inner-hook">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
