<!DOCTYPE html>
<html>
  <head>
    <title>Travis A. Roy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main">
  	
  	<h1>Travis A. Roy</h1>
  	<h2>[ Web Developer ]</h2>

  	<nav>
  		<h3><%= link_to 'home', root_path %> | <%= link_to 'blog', posts_path %> | <%= link_to 'projects', projects_path %></h3>
  	</nav>

    <%= yield %>
  </body>
</html>


 